/* main rules */
body {
    font-family: 'Raleway', sans-serif;
}

/* Header */
header {
    margin-top:15px;
}

/* landing page */
.landing-img {
    width: 100%;
    position: relative;
    background-image: url('./img/bk4.jpeg');
    background-size: cover;
    height: 500px;
}

.landing-text {
    color: whitesmoke;
    position: absolute;
    top: 300px;
}
.backdrop {
	background: url("./img/bk.png") center;
	background-size: cover;
	margin: auto;
    width: 100%;
    height:450px;
}

.backdrop .text {
	color: #1ca1a8;
    margin-top: 20%;
	mix-blend-mode: multiply;
	font: bolder 5em "Alfa Slab One";
	text-align: center;
}

hr.double-line {
	border-top: 1px solid #8c8b8b;
	border-bottom: 1px solid #fff;
}

hr.double-line:after {
	content: '';
	display: block;
	margin-top: 2px;
	border-top: 1px solid #8c8b8b;
	border-bottom: 1px solid #fff;
}


/*projects section */

.project_title {
    margin-top: 5%;
    color: #7d97ad;
    text-transform: capitalize;
    font-size: 2.5em;
}

.project-item img{
   height:auto;
}

.header-logo {
    height: 100px;
    margin-right: 0.5em;
}

/***
**
** responsive 
**
*/
@media only screen and (max-width:600px) {
    .header-logo {
        height: 48px;
    }
    .header__title {
        margin-left: 0;
        font-size: 2em;
        vertical-align: bottom; 
    } 
}


